body {
  background: rgb(9,7,45);
  background: linear-gradient(31deg, rgba(9,7,45,0.9836309523809523) 16%, rgba(59,166,233,1) 100%, rgba(91,168,215,1) 100%);
}

.jumbotron {
  margin: 20px auto 190px auto;
}

.jumbotron h1 {
  font-family: 'Asap', sans-serif;
  font-size: 110px;
}

.about-me {
  color: gainsboro;
  text-align: center;
  margin: 0px 150px 150px 150px;
  background-color: #6d9abf;
  padding: 20px;
  border: 2px solid #2f4252;
}

.about-me p {
  font-size: 20px;
  font-family: sans-serif;
  font-style: normal;
}

#about-me-header {
  color: #8a1c1c;
  font-weight: bold;
}

span {
  font-weight: bold;
  color: #8a1c1c;
  font-size: 25px;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #f5be3d;
  border-color: #ddd;
  text-align: center;
}

img {
  width: 20%;
  height: 30%;
  border-radius: 50%;
  margin: 0px 50px 0px 20px;
  float:left;
}

blockquote {
  margin-right: 150px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  float: right;
  width: 30%;
}

footer#bottom {
  background-color: #EBEBEB;
  padding: 40px;
  margin-top: 150px;
  text-align: center;
  font-family: 'Asap', 'Merriweather', serif;
  color: #8a1c1c;
}

.panel {
  overflow: hidden;
}


@media screen and (max-width: 990px) {
  .about-me {
    margin: 0 5% 150px 5%;
  }
  blockquote {
    width:auto;
  }
}


@media screen and (max-width: 775px) {
  .jumbotron h4 {
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom:
  }
  .container .row {
    width: 80%;
    margin:auto;
  }


@media screen and (max-width: 630px) {
   .jumbotron h1, .jumbotron h4 {
     display: none;
   }
}


@media screen and (max-width: 570px) {
  blockquote {
    margin-right: 25px;
  }
  div .about-me p {
    font-size: 16px;
  }
  span {
    font-size: 20px;
  }
  footer#bottom {
    margin-top: 75px;
  }
  .container .row {
    width: 100%;
    margin: 0;
  }
  footer#bottom h1 {
    font-size: 23px;
  }
}

@media screen and (max-width: 330px) {
  blockquote {
    display: none;
  }
  .jumbotron {
    margin-bottom: 50px;
  }
  div .about-me {
    margin: 0px 5px 50px;
  }
  div .about-me p {
    font-size: 12px;
  }
  span {
    font-size: 15px;
  }
  footer#bottom {
    margin-top: 50px;
  }
}
