body {
  background: #3b679e; /* Old browsers */
  background: -moz-linear-gradient(top,  #3b679e 0%, #207cca 40%, #207cca 40%, #2b88d9 50%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #3b679e 0%,#207cca 40%,#207cca 40%,#2b88d9 50%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #3b679e 0%,#207cca 40%,#207cca 40%,#2b88d9 50%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.jumbotron {
  margin: 20px auto 190px auto;
}


.jumbotron h1 {
  font-family: 'Asap', sans-serif;
  font-size: 110px;
}

.about-me {
  color: gainsboro;
  text-align: center;
  margin: 0px 150px 150px 150px;
  background-color: #6d9abf;
  padding: 20px;
  border: 2px solid #2f4252;
}

.about-me p {
  font-size: 20px;
  font-family: sans-serif;
  font-style: normal;

}

span {
  font-weight: bold;
  color: red;
  font-size: 30px;
}


.panel-default > .panel-heading {
  color: #333;
  background-color: #f5be3d;
  border-color: #ddd;
  text-align: center;
}

img {
  width: 20%;
  height: 30%;
  border-radius: 50%;
  margin: 0px 50px 0px 20px;
  float:left;
}

blockquote {
  margin-right: 50px;
}

@media screen and (max-width: 775px) {
  .jumbotron h4 {
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom:
  }
}

#bottom {
  background-color: lightgray;
  padding: 20px;
  margin-top: 200px;
  text-align: center;
  color: darkblue;
}
